.time{
    text-align: center;
    padding: 32px;
}

.time h3{
    font-size: 32px;
    font-family: 'Prata';
    font-weight: 400;
    padding: 8px;
    border-bottom: 4px solid;
    display: inline-block;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}